---
# -*- html -*- mode
topnav:
  - text: About
    href: /about/
  - text: Blog
    href: /
  - text: Archives
    href: /archives/
  - text: Tags
    href: /tags/
  - text: Other
    href: /other/
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:wb="http://open.weibo.com/wb">
<head>
<title>{{ page.title }} </title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta name="language" content="en" />
<link rel="stylesheet" type="text/css" href="/css/default.css" />
<link rel="stylesheet" type="text/css" href="/css/syntax.css" />
<link rel="stylesheet" type="text/css" href="/css/mindmap.css" />
<meta property="wb:webmaster" content="85ada6b02f0f02d5" />
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=4064321344" type="text/javascript" charset="utf-8"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>

<!-- Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32905076-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


<script type="text/javascript">
jQuery(document).ready(function() {
  jQuery(".content").hide();
  //toggle the componenet with class msg_body
  jQuery(".heading").click(function()
  {
    jQuery(this).next(".content").slideToggle(500);
  });
});
</script>




</head>

{% assign navTitle = 'Blog' %}
{% for t in page.topnav %}
{% if t.text == page.title %}{% assign navTitle = page.title %}{% endif %}
{% endfor %}

<body>
<div class="page_margins">
  <div id="header">
    <h2><a href="http://xianminx.github.com">Lucas Xu   徐仙明</a></h2>
    <div class="clear"></div>

    <!-- begin: main navigation #nav -->
    <div id="nav">
      <div class="hlist">
        <ul>
          {% for t in page.topnav %}
          <li{% if t.text == navTitle %} class="active"{% endif %}>
          <a href="{{ t.href }}"{% if t.title %} title="{{ t.title }}"{% endif %}>{{ t.text }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <!-- end: main navigation -->
  </div>

  <!-- begin: main content area #main -->
  <div id="main">
    <div id="col1">
      <div id="col1_content">
        {{ content }}
      </div>
    </div>
    <div id="col3">
      <div id="col3_content">
        <h6 class="vlist">GitHub projects</h6>
        <ul class="vlist">
        	<li>
			<a href="https://github.com/xianminx/PullToRefresh-ListView" >PullToRefresh-ListView</a>
		</li>
	</ul>
        <h6 class="vlist">Misc. Links</h6>
        <ul class="vlist">
          <li>
            <a
              href="http://android-developers.blogspot.com/"
              ><img src="http://android-developers.blogspot.kr/favicon.ico"/>Android Developers Blog</a>
          </li>
           <li>
            <a
              href="http://saigeethamn.blogspot.com/"
              ><img src="https://www.blogger.com/img/logo-16.png"/> Sai Geetha's Android blog</a>
          </li>
          <li>
            <a
              href="http://jon.oberheide.org/blog/"
              ><img src="https://encrypted-tbn2.google.com/images?q=tbn:ANd9GcRo9pLd2k2lx_xG3T0uA7DgpZ0Guu9FMWHPLi5cDeVayZ7uNO0X" height="16" width="16"/>JON.OBERHEIDE.ORG</a>
          </li>
          </ul>

<!-- AddThis Follow BEGIN -->
<h6 class="vlist">Follow Me</h6>
<br/>
<div class="addthis_toolbox addthis_32x32_style addthis_default_style">
<a class="addthis_button_google_follow" addthis:userid="101226668323584222394"></a>
<a class="addthis_button_facebook_follow" addthis:userid="xianminx"></a>
<a class="addthis_button_linkedin_follow" addthis:userid="xianminx"></a>
<a class="addthis_button_twitter_follow" addthis:userid="xianminx"></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4fdf49b46dac2571"></script>
<!-- AddThis Follow END -->

<br/>

<iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=1&ptype=1&speed=300&skin=1&isTitle=1&noborder=0&isWeibo=1&isFans=1&uid=2063991842&verifier=e0e8dc08&dpc=1"></iframe>


</div>
    </div>
    <div class="clear"></div>
  </div>
  <!-- end: #main -->

  <!-- begin: #footer -->
  <div id="footer">
    <div class="hlist">
      <ul>
        {% for t in page.topnav %}
        <li{% if t.text == navTitle %} class="active"{% endif %}>
        <a href="{% if t.http %}{{ t.http }}{% else %}{{ t.href }}{% endif %}"
        {% if t.title %} title="{{ t.title }}"{% endif %}
        >{{ t.text }}</a>
        {% if forloop.last == false %} | {% endif %}
        </li>
        {% endfor %}
        <li> | <a href="feed.xml"><img src="http://www.bookinglive.com/assets/Uploads/Icons/RSS-Feed-2.png" width="20" height="20" align="top"> RSS </a></li>
        <li>&ndash; updated {{ site.time | date:"%Y-%m-%d" }}</li>
      </ul>
    </div>
  </div>
  <!-- end: #footer -->

</div>

</body>
</html>
