---
# -*- html -*- mode
layout: default
---
<div class="post">
  <h3>{{page.title}}</h3>


<script type="text/javascript">
var jiathis_config = {
    shareImg:{
        "showType":"ALL",
        "bgColor":"",
        "txtColor":"",
        "text":"",
        "services":"",
        "position":"",
        "imgwidth":"",
        "imgheight":"",
        "divname":""
    }
}
</script>
<script type='text/javascript' src='http://v2.jiathis.com/code/jia.js?uid=1336370704363698' charset='utf-8'></script>

<!-- JiaThis Button BEGIN -->
<div id="ckepop">
  <span class="jiathis_txt">分享到：</span>
	<a class="jiathis_button_tsina">新浪微博</a>
	<a class="jiathis_button_googleplus">Google+</a>
	<a class="jiathis_button_fb">Facebook</a>
	<a class="jiathis_button_evernote">EverNote</a>
	<a class="jiathis_button_tqq">腾讯微博</a>
	<a href="http://www.jiathis.com/share?uid=1633146" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
	<a class="jiathis_counter_style"></a>
</div>
<script type="text/javascript">var jiathis_config = {data_track_clickback:true};</script>
<script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js?uid=1336370704363698" charset="utf-8"></script>
<!-- JiaThis Button END -->
<!-- UJian Button BEGIN -->
	<script type="text/javascript" src="http://v1.ujian.cc/code/ujian.js?type=slide"></script>
<!-- UJian Button END -->

<br/>

  {{ content }}
</div>

<small class="meta final">
  {{ page.date | date:"%d %b %Y" }}
  {% for t in page.tags %}
  {% if forloop.first == true %} | {% endif %}
  <a href='/tags#{{ t | escape }}'>{{ t }}</a>{% if forloop.last == false %}, {% endif %}
  {% endfor %}

</small>

